body {
    font-family: 'IBM Plex Sans KR';
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
	  min-width: 1000px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 1000px;
    height: 50px;
    background-color: rgb(50, 50, 50);
}

/* Tiles Header에 관련된 CSS */
.header {
    margin-left: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: auto;
    font-size: 32px;
}

/* Tiles Menu에 관련된 CSS */
.menu-bar {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    width: 50%;
    z-index: 2;
}
.menu-bar-content {
    width: 33%;
    height: 50px;
    margin: 0;
    color: white;
    font-size: 24px;
}
.menu-bar-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.menu-bar-content:hover{
    background-color: rgba(150, 150, 150, 0.3);
}
.menu-bar-content:hover .menu-bar-hidden{
	display: block;
}
.menu-bar-hidden {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(50, 50, 50, 0.3);
}
.menu-bar-hidden:hover {
	display: block;
}

/* Tiles Main에 관련된 CSS */
main {
    position: relative;
    margin: 50px 0 0;
    width: 100%;
}
.main-content {
	position: relative;
	background-color: black;
	height: 100%;
	z-index: -1;
}
#carouselExampleInterval {
	width: 50%;
	height: 500px;
	display: inline-block;
}
.my-img-size {
	width: 100%;
	height: 500px;
	background-size: cover;
	background-repeat: none;
}

/*!* 민지 *!*/

input, button {
    border: none;
    outline: none;
    background: none;
}

.reservation-cont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    margin: 0 auto 100px;
    padding-top: 50px;
}

.reservation-form {
    position: relative;
    width: 640px;
    height: 100%;
    transition: transform 1.2s ease-in-out;
    padding: 50px 30px 0;
}
.reservation-top {
    color: saddlebrown;
}
button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.reserve_img {
    position: absolute;
    /*right: -100px;*/
    right: -150px;
    top: 50px;
    background-image: url("https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20230310_30%2F1678419196725p9xq3_JPEG%2F10.JPG");
    opacity: 0.8;
    width: 300px;
    height: 480px;
    background-size: contain;
    background-repeat: no-repeat;
}
.img__text {
    text-align: center;
    color: white;
}
h2 {
    margin-top: 30px;
    width: 100%;
    font-size: 26px;
    text-align: center;
}
label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}
label span {
    color: lightslategray;
    text-transform: uppercase;
    font-size: 15px;
}
input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}
input::placeholder {
    font-size: 12px;
    color: #cfcfcf;
}
.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;
}
.gotoreserve-btn {
    border: 1px solid black;
    background-color: #d4af7a;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    width: fit-content;
    margin-top: 300px;
}

/* check-reserveation.jsp */

.check-reserve-container {
    width: 850px;
    margin: 180px auto;
}
.check-reserve-top {
    margin-bottom: 50px;
    color: saddlebrown;
}
.check-reserve-bold {
    font-weight: bold;
}
.check-reserve-middle-1 {
    display: flex;
}
.check-reserve-middle-2 {
    width: 500px;
}
.check-reserve-info-cont {
    display: flex;
    justify-content: space-between;
}
.check-reserve-info-left {
    display: flex;
    flex-direction: column;
    padding-left: 10px
}
.check-reserve-info-right {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.check-reserve-info-center {
    border-top: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 15px
}
.check-reserve-info-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 20px;
    border-top: 1px solid gray;
    border-bottom: 2px solid gray;
}
.check-reserve-info-bottom-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 150px;
}
.check-reserve-img {
    width: 350px;
    height: 450px;
    padding-left: 40px;
}
.check-reserve-img-1 {
    position: relative;
    z-index: -1;
    width:100%;
    height: 100%;
    margin-bottom: 10px;
}
.check-reserve-img-2 {
    width: 100%;
    height: 50%;
}
.check-reserve-comment {
    height: 300px;
    width: 800px;
}
.check-reserve-comment-content {
    width: 90%;
    height: 100px;
    background-color: darkkhaki;
    opacity: 0.3;
    border-radius: 30px;
    margin-bottom: 25px;
}
.check-reserve-comment-letter {
    padding: 15px;
    font-size: 15px;
}

/* Tiles Footer에 관련된 CSS */
/*footer {*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 200px;*/
/*    background-color: rgb(109, 37, 37);*/
/*}*/
